.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: auto;
    padding: 1rem;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
